<!DOCTYPE html>
<html lang="es">
<head>
    <title>Calculadora</title>
</head>
<body>
    <main>
        <h1>Seleccione el calculo a realizar</h1>
    </main>
    <a href="https://github.com/sergio-9" target="_blank" rel="noopener noopener">github</a>
    <p>Selecciona los numeros de la operacion que quieres</p>
    <form action="http://127.0.0.1:8080/calculadora/1/suma/2">
        <input type="number" placeholder="numero">
        <input type="number" placeholder="numero">
        <button type="submit">suma</button>
    </form>

</body>
</html>